
	/* this is for debugging layout issues - puts a red border around everything */
	/* body * { border: 1px solid red; }		 */
	DEBUG {
		border: 1px solid red;
	}
	body {
		/* Use GrooveWriter instead of body for easy embedding */
		margin: 0px;
		background: #DDD;
		/font-family: Calibri;
		font-family: 'Lato', sans-serif;
	}
	.fullWidthEle {
		max-width: 1478px; /* 1550 - 72 */
	}
	#GrooveWriter {
		/* tag surrounds entire app */
	}
	.warnings {
		font-family: monospace;
		display: none;
	}
	.Printable {
		display: block;
	}
	.nonPrintable {
		display: block;
	}
	#LeftHandNav {
		width: 70px;
		height: 100%;
		position: fixed;
		border-right: 2px solid #000;
		background: #3b5166;
		z-index: 999;
	}
	#TopNav {
		position: fixed;
		z-index: 999;
		left: 72px;
		width: calc(100% - 72px);
		height: 48px;
		border-bottom: 1px solid #00C;
		background: #009ffa;
	}
	#midiPlayer {  /* more #midiPlayer css in groove_display.css */
		width: calc(100% - 72px);
		height: 48px;
		position: fixed;
		z-index: 999;
		left: 72px;
		top: 49px;
		border-bottom: 1px solid #00C;

	}
	#RightHandContent {
		margin-left: 72px;
		padding-top: 98px;
		overflow-y: auto;
	}
	#upperRight {
		float: right;
	}
	#divisionButtonContainer {

	}
	#upperLeft  {
	}
	#metronomeContainer {
	}
	#metronomeLabel {
		display: inline-block;
		height: 20px;
		font-weight: 500;
		margin: 12px 5px 0px 10px;
		text-align: center;
		color: #EEF;
	}
	.metronomeButton, .rightButtons {
		padding: 2px;
		cursor: pointer;
		display: inline-block;
		/background: #0071ad;
		color: #FFF;
		border: 0px solid #00B;
		text-align: center;
		border-radius: 20px;
		/width: 50px;
		margin: 12px 5px;
		height: 20px;
		transition: all .1s ease-in-out;
	}
	.metronomeButton:hover, .rightButtons:hover, .metronomeButton.selected:hover, .rightButtons.selected:hover, .rightButtons.buttonSelected:hover {
		/color: #3b5166;
		font-weight: 500;
		transform: scale(1.05);
	}
	.metronomeButton.options {
		width: 75px;
	}
	.metronomeButton.buttonSelected, .metronomeButton.selected, .rightButtons.buttonSelected {  /* is a button and is selected */
		color: #ff8c00;
		font-weight: 700;
		/background: #68c2ff;
	}
	#timeLabel, .subdivision, #advancedEditAnchor {
		display: block;
		cursor: pointer;
		font-size: 12px;
		font-weight: bold;
		height: 48px;
		border-bottom: 1px solid #000;
		text-align: center;
		vertical-align: middle;
		color: #89bee5;
		display: -webkit-flex;
		display: flex;
		align-items: center;
		-webkit-align-items: center;
		justify-content: center;
		-webkit-justify-content: space-around;
		transition: all .1s ease-in-out;
	}
	.subdivision.buttonSelected, .subdivision.buttonSelected:hover {  /* is subdivision and is selected */
		background: #53758e;
		color: #FFF;
		cursor: auto;
		transform: scale(1.1);
	}
	.myButton:hover, .subdivision:hover {
	   border-top-color: #28597a;
	   background: #004781;
	   color: #ccc;
	   transform: scale(1.05);
	 }
	.myButton:active, .subdivision:active  {
	   border-top-color: #1b435e;
	   background: #1b435e;
    }
	.buttonFraction {  /* The number above "triplet" in the .subdivision 1/4, 1/8, etc */
		display: block;
		font-size: 18px;
	}
	#timeLabel {
		cursor: auto;
		font-size: 16px;
		font-weight: 700;
		height: 48px;  /* Override from above */
	}
	#advancedEditAnchor.buttonSelected {
		background: #009ffa;
		color: #FFF;
		font-size: 14px;
	}
	.buttonText {
	}

	#NotationLine {
		height: 35px;
		text-align: center;
		padding-top: 13px;
		border-bottom:1px solid #AAA;
	}
	#NotationLabel {
		display: inline-block;
		margin:auto;
		font-size: 20px;
		font-weight: bold;
		text-align: center;
		padding-left: 54px;
	}
	#KeyButton {
		float: right;
		padding-right: 5px;
		font-size: 18px;
		text-align: right;
	}
	#hiddenDescription {
		display: none;
	}
	#musicalInput {
		display: block;
		width: 100%;
		background: #FFF;
		overflow-x: auto;
		overflow-y: hidden;
		border-bottom: 1px solid #AAA;
		white-space: nowrap;
		text-align: center;
	}
	@media only screen and (orientation: portrait) {
		#musicalInput {
			white-space: normal;
			/* wrap down on portait mode displays,
			 *	don't wrap in landscape mode
			 */
		}
	}
	#musicalInput.expanded {
		max-width: 5000px !important;
	}
	#measureContainer {
		margin-left: auto;
		margin-right: auto;
	}
	.staff-container {
		/margin-left: 2px;
		/margin-top: 2px;
		margin-right: -3px;
		margin-bottom: 0px;
		display: inline-block;
		background: #FFFFFF;
		white-space: nowrap;
	}
	.notes-row-container {
		display: inline-block;
	}
	.heading1 {
		font-size: 30px;
		font-weight: bold;
	}
	.line-labels {
		display: inline-block;
		vertical-align: top;
		width: 80px;
		font-size: 20px;
		display: table-cell;
	}
	.stickings-label {
		display: none;
		height: 25px;
		background: #f7f1cf;
		color: #2484C0;
		padding-top: 9px;
		padding-left: 1px;
		font-size: 12px;
		cursor: pointer;
		text-align: center;
	}
	.hh-label {
		display: block;
		white-space:nowrap;
		margin-top: 20px;
		margin-left: 8px;
		cursor: pointer;
		text-align: center;
	}
	.snare-label {
		margin-top: 35px;
		margin-left: 8px;
		cursor: pointer;
		text-align: center;
	}
	.kick-label {
		margin-top: 35px;
		margin-left: 8px;
		cursor: pointer;
		text-align: center;
	}
	.stickings-label:hover {
		color: #000;
	}
	.hh-label:hover, .snare-label:hover, .kick-label:hover {
		color: #2484C0;
	}
	.music-line-container {
		display: inline-block;
		/top: 30px;
		z-index: 3;
		display: table-cell;
	}
	.notes-container {
		font-family:  Times New Roman;  /* parens around snare ghost note, R for Ride */
		position: relative;
		z-index: 4;
	}
	.stickings-container {
		display: none;
		height: 32px;
		background: #f7f1cf;
		border: 1px solid transparent;
		margin-top: 0px;
		white-space:nowrap;
		-moz-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
	}
	.hi-hat-container {
		height: 47px;
		white-space:nowrap;
		border: 1px solid transparent;
		-moz-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
	}
	.snare-container {
		border: 1px solid transparent;
		height: 58px;
		white-space:nowrap;
		-moz-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
	}
	.kick-container {
		border: 1px solid transparent;
		height: 84px;
		white-space:nowrap;
		-moz-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
	}
	.staff-line-1{
		position: absolute; top: 46px;
		width:100%;
		height:0px;
		border-top:3px solid #cacaca;
	}
	.staff-line-2{
		position: absolute; top: 76px;
		width:100%;
		height:0px;
		border-top:3px solid #cacaca;
	}
	.staff-line-3{
		position: absolute; top: 107px;
		width:100%;
		height:0px;
		border-top:3px solid #cacaca;
	}
	.staff-line-4{
		position: absolute; top: 136px;
		width:100%;
		height:0px;
		border-top:3px solid #cacaca;
	}
	.staff-line-5{
		position: absolute; top: 167px;
		width:100%;
		height:0px;
		border-top:3px solid #cacaca;
	}
	.sticking {
		display: inline-block;
		position: relative;
		border: 1px solid;
		border-color: transparent;
		width: 29px;
		height: 100%;
		margin-right: 2px;
		margin-left: 2px;
		margin-bottom: 0;
		}
	.hi-hat {
		display: inline-block;
		position: relative;
		border: 1px solid;
		border-color: transparent;
		width: 29px;
		height: 100%;
		margin-right: 2px;
		margin-left: 2px;
	}
	.snare {
		display: inline-block;
		position: relative;
		border: 1px solid;
		border-color: transparent;
		width: 29px;
		height: 100%;
		margin-right: 2px;
		margin-left: 2px;
	}
	.kick {
		display: inline-block;
		position: relative;
		border: 1px solid;
		border-color: transparent;
		width: 29px;
		height: 100%;
		margin-right: 2px;
		margin-left: 2px;
	}
	.note_part {  /* all the following note segments also share class .note_part */
	}
	.sticking_right {
		position: absolute; top: 0px; left: 6px;
		font-size: 24px;
		color: #CCCCCC;
		cursor: pointer;
	}
	.sticking_left {
		position: absolute; top: 0px; left: 6px;
		font-size: 24px;
		color: #CCCCCC;
		cursor: pointer;
	}
	.hh_crash {
		position: absolute; top: 21px; left: 2px;
		font-size: 22px;
		color: transparent;
		cursor: pointer;
	}
	.hh_ride {
		position: absolute; top: 17px; left: 5px;
		font-size: 26px;
		color: transparent;
		cursor: pointer;
	}
	.hh_cross {
		position: absolute; top: 20px; left: 3px;
		font-size: 24px;
		color: #CCCCCC;
		cursor: pointer;
	}
	.hh_open {
		position: absolute; top: 7px; left: 7px;
		font-size: 13px;
		color: transparent;
	}
	.hh_close {
		position: absolute; top: 7px; left: 7px;
		font-size: 13px;
		color: transparent;
		float:left;
	}
	.hh_accent {
		position: absolute; top: 2px; left: 9px;
		font-size: 20px;
		color: transparent;
		float:left;
	}
	.dot_in_snare_ghost_note {
		font-size: 14px;
		position: relative; top: -1px; left: 0px;
	}
	.snare_ghost {
		position: absolute; top: 25px; left: 1px;
		font-size: 26px;
		color: transparent;
		cursor: pointer;
	}
	.snare_circle {
		position: absolute; top: 29px; left: 2px;
		width:90%;
		height:22px;
		width: 22px;
		background: #FFF;
		border: 2px solid;
		border-color: #999;
		border-radius: 30px;
		cursor: pointer;
	}
	.snare_xstick {
		position: absolute; top: 26px; left: 3px;
		font-size: 30px;
		color: transparent;
		cursor: pointer;
	}
	.snare_flam {
		position: absolute; top: 29px; left: -3px;
		ont-size: 25px;
		color: transparent;
		cursor: pointer;
	}
	.snare_drag {
		position: absolute; top: 29px; left: -3px;
		ont-size: 25px;
		color: transparent;
		cursor: pointer;
	}
	.snare_accent {
		position: absolute; top: 0px; left: 10px;
		font-size: 26px;
		color: transparent;
	}
	.kick_circle {
		position: absolute; top: 29px; left: 2px;
		height: 22px;
		width: 22px;
		background: #FFF;
		border: 2px solid #999;
		border-radius: 40px 40px 40px 40px;
		cursor: pointer;
	}

	.kick_splash {
		position: absolute; top: 55px; left: 3px;
		font-size: 30px;
		color: transparent;
		cursor: pointer;
	}
	.opening_note_space {
		display: inline-block;
		width:1px;
		height:1px;
		background: transparent;
	}
	.end_note_space {
		display: inline-block;
		width:1px;
		height:1px;
		background: transparent;
	}
	.space_between_note_groups {
		display: inline-block;
		width:20px;
		height:1px;
		background: transparent;
	}
	#addMeasureButton {
		vertical-align: top;
		display: inline-block;
		color: #2484C0;
		cursor: pointer;
		font-size: 40px;
		padding-top: 2px;
		margin-top: 73px;
	}

	.closeMeasureButton {
		vertical-align: top;
		display: inline-block;
		margin-top: 3px;
		cursor: pointer;
		color: #2484C0;
	}
	.closeMeasureButton:hover, #addMeasureButton:hover {
		color: #000;
	}
	#PermutationOptions.displayed {
		margin: 3px 0px 0px 10px;
	}
	#PermutationOptionsHeader {
		/margin-left: 22px;
		font-size: 18px;
		font-weight:bold;
	}
	.PermutationOptionWrapper {
		display: table;
		border-collapse: collapse;
	}
	.PermutationOptionGroup{
		display: table-row;
		border-bottom: 1px solid #999;
	}
	.PermutationOptionGroup:last-child{
		border-bottom: 0px solid #999;
	}
	.PermutationOption{
		height: 20px;
		display: table-cell;
		padding-right: 15px;
		/border-top: 1px solid #999;
		/border-bottom: 1px solid #999;
	}
	.PermutationSubOption{
		display: table-cell;
		padding-right: 15px;
		/border-top: 1px solid #999;
		/border-bottom: 1px solid #999;
	}
	#permutationType {
		margin-top: 10px;
	}
	#noteInstructions {
		font-size: 120%;
		font-weight: bold;
		margin-top: 14px;
		margin-left: 25px;
	}
	#exportMidi {
	}
	#ABC_Results {
		display: none;
	}
	#sheetMusicDiv {
		text-align: center;
		background: #FFF;
	}
	.svgTarget {
		background: #FFF;
		margin-left: auto;
		margin-right: auto;
	}
	#sheetMusicTextFields {
		border-top: 1px solid #999;
		padding: 8px 0px;
		text-align: center;
		-webkit-justify-content: space-between;
		display: -webkit-flex;
		display: flex;
		justify-content: space-between;
	}

	/*  Context Menu */
	.noteContextMenu {

	}
	#permutationContextMenu, #helpContextMenu, #metronomeOptionsContextMenu, #metronomeOptionsOffsetClickContextMenu {
		position: fixed;
		top: 0px;
		right: 0px;
	}
	.metronomeOptionsContextMenuItem:before, .metronomeOptionsOffsetClickContextMenuItem:before {
		font-family: FontAwesome;
		content: "\00a0";  /* blank space */
		letter-spacing: 17px;
	} /* unchecked icon */
	.menuChecked:before {
		font-family: FontAwesome;
		content: "\f00c";
		letter-spacing: 5px;
	} /* checked icon */
	.noteContextMenu>ul.list  {
		display: none;
		position:absolute; left:30px; top:-30px; z-index:999;
		width:150px;
		margin:0; padding:0px; list-style:none;
		background: #c6e1f7;
		color: #000;
		border: 1px solid #1765a7;
		list-style:none;
	}
	.noteContextMenu>ul.list li {
		padding:10px;
		border-bottom: solid 1px #1765a7;
		text-decoration: none;
	}
	.noteContextMenu>ul.list li:hover, ul.list a:hover {
		background: #004781;
		color: #FFF;
	}
	.noteContextMenu>ul.list li:last-child {
		border:none;
	}
	#grooveListWrapper {
		display: none;
		position: fixed;
		z-index: 999;
		top: 0px;
		right: 0px;
		width: 300px;
		height: 300px;
		overflow: auto;
		background: #c6e1f7;
		border: 1px solid #1765a7;
	}
	.grooveListUL {
		margin:0; padding:0px; list-style:none;
		background:#c6e1f7;
		color: #000;
	}
	.grooveListHeaderLI {
		padding:15px;
		background: #009FFA;
		font-size: 18px;
		font-weight: bold;
	}
	.grooveListLI {
		padding: 10px;
		padding-left: 15px;
		border-bottom: solid 1px #1765a7;
	}
	.grooveListLI:hover {
		background: #004781;
		color: #FFF;
	}
	hr {
		width: 795px;
		margin-left: 0px;
	}

	#ABCSource {
		font-family: monospace;
		font-size: 14px;
	}
	#fullURLPopup, #metronomeAutoSpeedupConfiguration {
		/visibility: hidden;
		display: none;
		position:absolute; left:250px; top:250px; z-index:999;
		background-color: var(--highlight-color);
		width: 500px;
		padding: 10px;
		border: solid 5px #000;
	}
	#fullURLCloseButton {
		font-size: 120%;
		float: right;
	}
	#fullURLTextField {
		width: 495px;
	}
	#embedCodeLabel {
		float: right;
	}
	.metronomeAutoSpeedupInputRow {
		vertical-align: text-bottom;
	}
	#metronomeAutoSpeedupTempoIncreaseAmount, #metronomeAutoSpeedupTempoIncreaseInterval {
		background: var(--highlight-color);
		width: 300px;
	}
	#metronomeAutoSpeedupInputTable {
		margin-left: 20px;
	}
	#metronomeAutoSpeedupOutputText {
		font-size: 30px;
		margin-left: 20px;
		margin-top: 20px;
	}
	#metronomeAutoSpeedupTempoIncreaseAmountOutput, #metronomeAutoSpeedupTempoIncreaseIntervalOutput {
		color: #2484c0;
		font-weight: 700;
	}
	#metronomeAutoSpeedupConfigurationCloseButton {
		float: right;
	}
	#showHideSecondMeasureButton {
	}
	#stickingsButton {
	}
	#stickingsButton:before  {
		font-family: FontAwesome;
		font-size: 30px;
		letter-spacing: -3px;
		content: "\f065";
	}
	#stickingsButton.ClickToHide:before {
		font-family: FontAwesome;
		font-size: 30px;
		letter-spacing: -3px;
		content: "\f066";
	}
	#printButton {
	}
	#downloadButton {
	}
	#shareSaveButton {
	}
	.centeringSpace {
		/margin-right: 5%;
		/margin-left: 5%;
	}
	button {
		cursor: pointer;
	}


	input[type=checkbox]:checked  + label {
		color: #000;
		cursor: pointer;
	}
	input[type=checkbox]:not(:checked) + label {
		color: #888;
		cursor: pointer;
	}
	#totalPlayTime {
		z-index: 999;
		position: fixed;
		bottom: 3px;
		right: 3px;
		background-color: rgba(50, 126, 173, 0.3);
	}
	.totalTimeNum {
		color: var(--highlight-color);
	}
	.myCheckbox {
		display:none;
	} /* to hide the checkbox itself */
	.myCheckbox + label:before
	{
		font-family: FontAwesome;
		display: inline-block;
	 /* content: "\f096";  /* uncheck box */
		content: "\00a0";  /* blank space */
		letter-spacing: 17px;
	} /* unchecked icon */
	.myCheckbox:checked + label:before
	{
		content: "\f00c";
		letter-spacing: 5px;
	} /* checked icon */
	.hiddenCheckbox {
		/* checkbox for the key (legend) */
		visibility: hidden;
	}
	#LegendLabel {
		border: 1px solid #CCC;
		padding: 3px 7px 5px 7px;
		border-radius: 7px;
		background: #CCC;
		margin-right: 8px;
	}
	#GrooveDB_source {
		width: 100%;
		height: 200px;
	}
	#bottomButtonRow {
		padding: 20px 0px;
		background: #1f363a;
		text-align: center;
		color: #6e90a9;
		-webkit-justify-content: space-around;
		display: -webkit-flex;
		display: flex;
		justify-content: space-around;
	}
	.pageBottomButton {
		display: inline-block;
	}
	.pageBottomButton:hover {
		cursor: pointer;
		color: #FFF;
	}
	.bottomButtonIcon {
		display:block;
		margin-bottom: 2px;
	}

	.bottomButtonLabel {
		display: block;
	}
	@media print {
		/* keep at bottom so it overrides the styles above */
		body {margin:0; padding:0; border:0; background-color: transparent}
		div.newpage {page-break-before: always}
		div.nobrk {page-break-inside: avoid}

		.nonPrintable {
			display: none !important;
		}

		#RightHandContent {
			margin-left: 0px;
			padding-top: 0px;
		}
	}
