
	/* this is for debugging layout issues - puts a read border around everything */
	/* body * { border: 1px solid red; }		 */
	body {

	}
	.warnings {
		font-family: monospace;
		display: none;
	}
	.Printable {
		display: block;
	}
	.nonPrintable {
		display: block;
	}

	/* there is another .svgTarget definitiion in groove_writer.css */
	.svgTarget {
		width: 100%;
	}
	.svgTarget svg {
		width: 100%;
		height: calc(100%);  /* hack, should really be auto, but that causes old webkit to go nuts */
	}
	.playerControl {
		display: inline-block;
		background-color: #eeeeee;
		width: 100%;  /* expand to the surounding element */
		font-family: 'Lato', sans-serif;
		white-space: nowrap;
	}
	.playerControl.large {
		display: block;
		width: 100%;
		min-width: 450px;
		border: 1px solid #ddd;
		padding-left: 0px;
		margin: 0px 0px 0px 0px;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
	}
	.playerControl.small {
		width: 90px;
		border: 1px solid #009;
		padding-left: 0px;
	}
	.playerControlsRow {
		/border: 1px solid red;
		display: flex;
		display: -webkit-flex;
		padding-left: 6px;
		flex-flow: flex-start;
		flex-wrap: nowrap;
		-webkit-flex-flow: flex-start;
		-webkit-flex-wrap: nowrap;
	}
	.playerControlsRow.large, .playerControlsRow.small {
		padding-left: 0px;
	}
	.midiPlayImage, .midiRepeatImage, .midiGSLogo {
		width: 40px;
		height: 40px;
		cursor: pointer;
		flex: none;
		-webkit-flex: none;
		margin: 4px 0px 4px 0px;
		border: 0px solid #000;
		color: #eee;
		font-size: 20px;
		font-family: FontAwesome;
		text-align: center;
		line-height: 40px;
		vertical-align: middle;
		border-radius: 50%;
	}
	.midiPlayImage, .midiRepeatImage {
		background: #999;
		margin: 4px 4px 4px 4px;
	}
	.midiPlayImage:hover, .midiRepeatImage:hover {
		color: #68c2ff;
		background: #005483;
	}
	.midiExpandImage {
		font-family: FontAwesome;
		font-size: 26px;
		line-height: 40px;
		transition: all .6s ease-in-out;
		width: 40px;
		height: 40px;
		cursor: pointer;
		flex: none;
		-webkit-flex: none;
		margin: 4px 0px 4px 0px;
		color: #999;
		text-align: center;
		vertical-align: middle;
		border-radius: 50%;
	}
	.midiExpandImage.small:hover {
		color: #666;
		transform: scale(1.4);
	}
	.midiExpandImage.large:hover {
		color: #666;
		transform: scale(.8);
	}
	.midiPlayImage.Stopped:before ,  .midiPlayImage.Paused:before   {
	 	letter-spacing: -3px;
		content: "\f04b";
	}
	.midiPlayImage.Playing:before  {
		content: "\f04c";
	}
	.midiExpandImage.small:before   {
	 	letter-spacing: -3px;
		content: "\f065";
	}
	.midiExpandImage.large:before   {
	 	letter-spacing: -3px;
		content: "\f066";
	}
	.midiGSLogo {
		padding-top: 6px;
		width:  20px;
		height: 30px;
	}
	.midiMetronomeImage {
		margin-top: 9px;
		width:  30px;
		height: 30px;
	}
	.midiMetronomeImage path {
	  fill: #df8600;
	}
	.midiMetronomeImage:hover path {
	  fill: #df8600;
	}
	.midiMetronomeMenu.selected .midiMetronomeImage path {
	  fill: #999;
	}
	.tempoAndProgress {
		padding-top: 2px;
		width: 100%;
		height: 46px;
		flex: 1;
		-webkit-flex: 1;
	}
	.tempoAndProgress.small, .midiGSLogo.small, .midiMetronomeMenu.small {
		display: none;
	}
	.tempoRow, .swingRow {
		/border: 1px solid red;
		display: flex;
		display: -webkit-flex;
		height: 22px;
		flex-flow: flex-start;
		flex-wrap: nowrap;
		-webkit-flex-flow: flex-start;
		-webkit-flex-wrap: nowrap;
	}
	.tempoInput, .swingInput {
		background-color: 3f91e5;
		padding: 0px;
		margin-top: 4px;
		margin-right: 2%;
		color: #66c0fe;
		width: 90%;
		flex: 1;
		-webkit-flex: 1;
	}
	.tempoSettings {
		color: #FFF;
	}
	.tempoLabel, .swingLabel {
		text-align: right;
		padding-top: 0px;
		font-size: 16px;
		width: 60px;
		color: #999;
	}
	.tempoOutput, .swingOutput {
		display: inline-block;
		text-align: left;
		padding-top: 0px;
		font-size: 16px;
		color: #666;
		padding-left: 8px;
		width: 34px;
		flex: none;
		-webkit-flex: none;
	}
	.swingSettings {
		color: #FFF;
	}
	.MIDIProgressRow {
		display: none;
	}
	.MIDIProgressRow.large {
		display: block;
		margin-left: 60px;
		display: flex;
		display: -webkit-flex;
		flex-flow: flex-start;
		flex-wrap: nowrap;
		-webkit-flex-flow: flex-start;
		-webkit-flex-wrap: nowrap;
		white-space: nowrap;
		height: 20px;
	}
	.MIDIProgressRow.small {
		display: block;
		margin-left: 8px;
		padding: 0px;
	}
	.MIDIPlayTime {
		display: inline-block;
		width: 100px;
		color: #999;
		font-size: 30px;
		margin-left: 6px;
		padding-top: 4px;
		text-align: left;
		line-height: 40px;
		flex: none;
		-webkit-flex: none;
	}
	.MIDIPlayTime.small {
		display: none;
	}
	.MIDIProgress {
		width: 85%;
		height: 8px;
		font-size: 0px;
	}
	.MIDIProgress.small {
		width: 80px;
	}
	.MIDIProgress.large {
		margin-top: 3px;
	}

	#ABCSource {
		font-family: monospace;
		font-size: 14px;
	}

	button {
		cursor: pointer;
	}

	.abcr {  /* rectangles enclosing notes in ABC SVG */
		fill: transparent;
		fill-opactity: 0.25;
	}
	.abcr.highlighted {
		fill:#990000 !important;
		fill-opacity: 0.25;
	}

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  background-color: #eee;
}
input[type=range]:before {
  /* set this color for the runnable-track left of the thumb color */
  color: #999;
}
input[type=range]:after {
  /* set this color for the runnable-track right of the thumb color */
  color: #666;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: #999;
  border-radius: 6px;
  border: 0px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  border: 1px solid #666;
  height: 18px;
  width: 18px;
  border-radius: 20px;
  background: #fff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -6px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #0067a3;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: #666;
  border-radius: 6px;
  border: 0px solid #010101;
}
input[type=range]::-moz-range-thumb {
  border: 1px solid #666;
  height: 18px;
  width: 18px;
  border-radius: 20px;
  background: #fff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #49b4f8;
  border: 0px solid #010101;
  border-radius: 2.6px;
}
input[type=range]::-ms-fill-upper {
  background: #005789;
  border: 0px solid #010101;
  border-radius: 6px;
}
input[type=range]::-ms-thumb {
  border: 1px solid #666;
  height: 18px;
  width: 18px;
  border-radius: 20px;
  background: #fff;
  cursor: pointer;
}
input[type=range]:active::-moz-range-thumb {
	background: #fff;
}
input[type=range]:active::-webkit-slider-thumb {
	background: #fff;
}
@media print {
	/* keep at bottom so it overrides the styles above */
	body {margin:0; padding:0; border:0; background-color: transparent}
	div.newpage {page-break-before: always}
	div.nobrk {page-break-inside: avoid}

	.nonPrintable {
		display: none !important;
	}
}
