
	/* this is for debugging layout issues - puts a read border around everything */
	/* body * { border: 1px solid red; }		 */
	body {
		
	}
	.warnings {
		font-family: monospace;
		display: none;
	}
	@media print {
		body {margin:0; padding:0; border:0}
		div.newpage {page-break-before: always}
		div.nobrk {page-break-inside: avoid}
	}
	.Printable {
		display: block;
	}
	.nonPrintable {
		display: block;
	}
	
	/* there is another .svgTarget definitiion in groove_display.css */
	.svgTarget {
	}
	
	#midiPlayer {
		width: 100%;
		max-width: 930px;
		/border: 1px solid red;
		margin-bottom: -4px;
	}
	.playerControl {
		display: inline-block;
		background-color: #2484c0;
		width: 100%;  /* expand to the surounding element */
		border-bottom: solid 1px #000000;
	}
	.playerControlsRow {
		/border: 1px solid red;
		display: flex;
		display: -webkit-flex;
		flex-flow: flex-start;
		flex-wrap: nowrap;
	}
	.midiPlayImage, .midiRepeatImage{
		width: 48px;
		height: 48px;
		position: relative; top: 0px;
		cursor: pointer;
		flex: none;
		margin: 0px 30px 0px 10px;
	}
	.midiExpandImage {
		color:#fff;
		margin-top: 8px;  
		margin-right: 5px;
		flex: none;
	}
	.tempoAndProgress {
		width: 100%;
		height: 48px;
		flex: 4;
	}
	.tempoRow, #swingRow {
		/border: 1px solid red;
		display: flex;
		display: -webkit-flex;
		flex-flow: flex-start;
		flex-wrap: nowrap;
	}
	.tempoInput  {
		background-color: 3f91e5;
		height:20px;
		padding: 0px;
		margin: 0px;
		width: 90%;
		flex: 1;
		-webkit-flex: 1;
	}
	.tempoSettings {
		color: #FFF;
	}
	.tempoOutput {
		display: inline-block;
		font-size: 16px;
		color: #FFF;
		padding: 0px;
		padding-left: 5px;
		width: 78px;
		flex:none;
	}
	.swingInput  {
		background-color: 3f91e5;
		height:20px;
		padding: 0px;
		margin: 0px;
		width: 90%;
		flex: 1;
		-webkit-flex: 1;
		//border: 1px solid red;
	}
	.swingSettings {
		color: #FFF;
	}
	.swingOutput {
		display: inline-block;
		font-size: 16px;
		color: #FFF;
		padding-left: 5px;
		width: 78px;
		flex:none;
		//border: 1px solid red;
	}
	.MIDIProgressRow {
		display: none;
		//border: 1px solid red;
		padding-top: 0px;
		margin-left: 60px;
		margin-right: 0px;
		margin-bottom: px;
		height: 16px;
		/display: flex;
		/display: -webkit-flex;
		flex-flow: flex-start;
		flex-wrap: nowrap;
	}
	.MIDIPlayTime {
		display: inline-block;
		width: 40px;
		color: #FFF;
		font-size: 14px;
		margin-left: -19px;
		margin-top: -3px;
		padding-right: 8px;
		text-align: right;
		flex: none;
	}
	.MIDIProgress {
		width: 90%;
		height: 8px;
		margin-top: 2px;
	}
	.metronomeSelector {
		display: inline-block;
		cursor: pointer;
		font-size: 16px;
		color: #FFF;
		padding: 0px;
		margin-top: -5px;
		width: 78px;
		padding-left: 5px;
		flex:none;
		//border: 1px solid red;
	}
	
	.metronomeContextMenu {
		position:absolute; left:30px; top:-30px; z-index:999;
		
	}
	.metronomeContextMenu>ul.list { 
		display: none;
		position:absolute; left:30px; top:-30px; z-index:999;
		width:150px;
		margin:0; padding:10px; list-style:none;
		background:#fff; color:#333;
		border-radius:5px;
		box-shadow:0 0 5px #999
	}
	.metronomeContextMenu>ul.list li {
		padding:10px;
		border-bottom: solid 1px #CCCCCC;
	}
	.metronomeContextMenu>ul.list li:hover {
		background:#EC6603; color:#fff;
	}
	.metronomeContextMenu>ul.list li:last-child { 
		border:none;
	}
	
	#ABCSource {
		font-family: monospace; 
		font-size: 14px;
	}
	
	button {
		cursor: pointer;
	}
	input[type=checkbox] {  
		vertical-align: bottom;
		width: 18px;
		height: 18px;
		cursor: pointer;
	}  
